* {
  font-family: 'PT Sans', sans-serif;
  margin: 0px;
  box-sizing: border-box;
}

@media screen and (max-width: 860px) {
  header nav {
    margin: 0;
    width: 100%;
    min-height: 9vh;
    border: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  header nav img#logo {
    width: 3.5rem;
  }

  header nav ul {
    list-style: none;
  }

  header nav ul li a {
    text-decoration: none;
  }

  main section div.container {
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    flex-flow: column;
    border: 1px solid black;
  }

  main section div h1#title {
    font-size: 2rem;
    margin-top: 2.5rem;
  }

  main section div#subtitle {
    text-align: justify;
    padding: 2rem;
  }

  main section div button#callToAction {
    width: 9rem;
    height: 3rem;
    padding: 0.3rem;
    font-size: 1rem;
    border:3px solid black;
    background: none;
    cursor: pointer;
  }

  header nav ul#list {
    display: none;
    position: absolute;
    top: 4.5rem;
    border: 1px solid black;
    background-color: aliceblue;
    width: 100%;
  }

  header nav ul#list a {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    margin-right: 3rem;
  }
}
