* {
  font-family: "PT Sans", sans-serif;
  margin: 0px;
  box-sizing: border-box;
}

@media screen and (max-width: 860px) {
  header nav {
    margin: 0;
    width: 100%;
    min-height: 9vh;
    /* border: 1px black solid; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1a4a3a;
    color: white;
    position: fixed;
  }

  header nav a i.color_icon {
    color: white;
  }

  header nav img#logo {
    width: 3.5rem;
  }

  header nav ul {
    list-style: none;
  }

  header nav ul li a {
    text-decoration: none;
  }

  main section#description {
    background-image: url(../images/museo1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-weight: bold;
  }

  main section div.container {
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    flex-flow: column;
    /* border: 1px solid black; */
  }

  main section div h1#title {
    font-size: 2rem;
    margin-top: 6.5rem;
  }

  main section div#subtitle {
    text-align: justify;
    padding: 2rem;
  }

  main section div button#callToAction {
    width: 9rem;
    height: 3rem;
    padding: 0.3rem;
    font-size: 1rem;
    /* border: 3px solid black; */
    background: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    overflow: -moz-hidden-unscrollable;
  }

  header nav ul#list {
    display: none;
    position: absolute;
    top: 3.5rem;
    /* border: 1px solid black; */
    background-color: #1a4a3a;
    width: 100%;
  }

  header nav ul#list a {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    margin-right: 3rem;
    color: white;
  }

  section#thumbnail {
    background-color: white;
    opacity: 0.9;
    margin-top: -1rem;
  }

  section#thumbnail div#img-div-1 {
    background-image: url(../images/museo-div-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    margin-top: 2rem;
  }

  section#thumbnail div#img-div-2 {
    background-image: url(../images/museo-div-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
  }

  section#thumbnail div#img-div-3 {
    background-image: url(../images/museo-div-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    margin-bottom: 1rem;
  }

  section div div.img-thumbnail {
    /* border: 1px solid black; */
    width: 65vw;
    height: 24vh;
    margin-top: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
  }

  section div div.img-thumbnail div.top-img {
    /* border: 1px solid black; */
    /*  background-color: lightblue; */
    width: 100%;
    height: 4.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-now {
    width: 7rem;
    height: 2rem;
    padding: 0.3rem;
    font-size: 0.8rem;
    /*  border: 2px solid black; */
    background: none;
    cursor: pointer;
    margin-bottom: 0.7rem;
    color: white;
    font-weight: bold;
  }

  section div.container:last-child {
    margin-bottom: 1rem;
  }

  section#services {
    background-color: #339775;
    color: white;
    margin-top: -1rem;
  }

  section#services div.references {
    /* border: 1px solid black; */
    width: 100%;
    height: 24vh;
    display: flex;
    align-items: center;
  }

  div.references div.icon i {
    font-size: 5rem;
    margin: 1rem 1rem;
  }

  div.references div.text-icon {
    padding: 1rem 1rem;
  }

  footer {
    background-color: #1a4a3a;
    color: white !important;
    margin-top: -1rem;
    height: 32vh;
  }

  footer div#bottom-page-news {
    width: 100%;
    height: 14vh;
    display: flex;
    justify-content: center;
  }

  footer div#bottom-page-nav {
    width: 100%;
    height: 14vh;
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
  }

  footer div div#news input[type="email"] {
    width: 100%;
    height: 4vh;
  }

  footer div div#news {
    height: 14vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;  }

  footer div div#menu-link {
    width: 40%;
    height: 14vh;
    display: flex;
    justify-content: flex-start;
    margin-top: 0.7rem;
  }

  footer div div#btn-social {
    width: 40%;
    height: 14vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
  }

  footer div#bottom-page-nav div ul li {
    list-style: none;
    line-height: 1.5rem;
    font-size: 0.8rem;
  }
  footer div#bottom-page-nav div ul li a {
    text-decoration: none;
    color: white;
  }
}
