* {
  margin: 0px;
  box-sizing: border-box;
}

@media screen and (max-width: 765px) {
  header nav {
    margin: 0;
    width: 100%;
    border: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header nav img#logo {
      width: 3rem;
  }

  header nav ul {
      list-style: none;
  }

  header nav ul li a {
      text-decoration: none;
  }
}




